/* common use  */

* {
  font-family: Inter;
}
/* !!!! */

.wrapper {
  display: flex;
}

.aside {
  display: flex;
  min-height: 992px;
  height: 100%;
  flex-direction: column;
  gap: 24px;
}

.asideBox {
  display: flex;
  padding: 12px 28px 708px 28px;
  max-width: 272px;
  width: 100%;
  height: 48px;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.line {
  display: flex;
  border-bottom: 1px solid #002b81;
  max-width: 48px;
  width: 100%;
  height: 48px;
}

.images {
  display: flex;
  flex-direction: column;
  max-width: 32px;
  width: 100%;
  height: 200px;
  gap: 24px;
}

.images img {
  align-self: center;
}

.nav {
  display: flex;
  max-width: 1336px;
  width: 100%;
  flex-direction: column;
}

.navBox {
  display: flex;
  max-width: 1336px;
  width: 100%;
  height: 80px;
  padding: 20px 0px;
  justify-content: space-between;
}

input {
  all: unset;
  width: 326px;
}

.navLeft {
  display: flex;
  max-width: 196px;
  width: 100%;
  gap: 12px;
  align-self: center;
}

form {
  display: flex;
  max-width: 326px;
  width: 100%;
  gap: 12px;
  align-self: center;
}

.navLeft span {
  align-self: center;
  color: #5e6577;
  font-weight: 500;
  line-height: 24px;
}

.main {
  display: flex;
  max-width: 1144px;
  width: 100%;
  height: 880px;
  flex-direction: column;
  gap: 42px;
}

.spain {
  display: flex;
  margin-top: 42px;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 30px;
}

.mainWrap {
  display: flex;
  justify-content: center;
}

.guest {
  display: flex;
  border-radius: 16px;
  background-color: #e7eeff;
  align-items: center;
  padding: 8px 24px 8px 12px;
  gap: 12px;
}

.guest span {
  color: #323232;
  font-weight: 400;
  line-height: 28px;
}

.cardBox {
  display: flex;
  max-width: 1144px;
  width: 100%;
  height: 744px;
  gap: 38px;
  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  max-width: 355px;
  width: 100%;
  height: 353px;
  border-radius: 24px 24px 24px 24px;
}

.inBox {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  gap: 4px;
  max-width: 355px;
  width: 100%;
  height: 80px;
  background: #e7eeff;
  border-radius: 0px 0px 24px 24px;
  background: #e7eeff;
}

.inBox span {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.inBox strong {
  color: #606060;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
